*{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    
}

#container{
    display:flex;
    font-size: 25px;
    color:white;
    background-color: black;
    justify-content: space-between;
}
.top-content1{
    width:30%;
    height:50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    position: relative;
    left:100px;
}
.top-content2{
    width:30%;
    height:50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    position: relative;
    left:-100px;
}
#nav-bar{
    display:flex;
    flex-direction: column;
    height:120px;
    width:100%;
}
.nav-content{
    display:flex;
    justify-content: space-between;
    background-color: #f7f8f7;

}
.nav-cato1{
    height:60px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    position: relative;
    left:125px;

}
div > input{
    font-size: 20px;
}
.nav-cato2{
    width: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: relative;
    right:200px;
    font-weight: bolder;
    align-items: center;
}
.nav-subcat{
    height:100%;
    width:70%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    left:135px;
    align-items: center;
}
.offer-div{
    background-color:#303ab2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    font-size: 20px;
}
.moving-img{
    height:600px;
    width:90%;
    margin:auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.arrows{
    width:2%;
    height: 100%;
}

.img{
    height:100%;
    border: 1px solid red;
    width:100%
}
.img2{
    margin:auto;
    width:81.5%;
    font-size: 36px;
    margin-top:30px;
    margin-bottom: 60px;
}

.img2 p{
    margin:16px 0px;
}

.img2 img{
    width:100%;
}


.shopping-list{
    margin:auto;
    width:83%;
    margin-bottom: 60px;
}
.shopping-list > p{
    font-size:36px;
    /* line-height: 51px; */
    font-weight: 400;
    margin:15px 0px;
}
.categories{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
}

.categories > div > img{
    width:100%;
    align-self: auto;
}

.categories>div{
    margin:0px 8px;
    cursor:pointer;
}
.cat-p{
    font-size:18px;
    line-height: 22px;
    margin:11px 0px;
    font-weight: 500;
    display: block;
    text-align: center;
}
.budget-zone{
    width:83.5%;
    margin: auto;
    margin-bottom: 60px;
}
.budget-cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;

}

.budget-cards>div{
    margin:0px 8px
}

.budget-cards img{
    width:100%;
}

.dress-img{
    width:99%;
    margin:auto;
}

.dress-img>img{
    width:100%;
}
.must-img{
    width:99%;
    margin:auto;
}

.must-img>img{
    width:100%;
}


 #double-img {
    display:grid;
    width:99%;
    margin:auto;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap:16px;
} 

#double-img img{
    width:100%;
}


.gifting-zone > img{
    width:100%;
}
#age-cat{
    display:grid;
    width:98.5%;
    margin:auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap:16px;
}

#age-cat img{
    width:100%;
}

.line{
    height:1px;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    margin-top: 60px;
}

.connect{
    margin-bottom: 60px;
}
/* Signup form  */
.bg-model, .bg-model-1{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.signup-container-1, .signup-container-2{
    width:470px;
    height: 300px;    
    background-color: white;
    border-radius: 4px;
    padding: 0% 5% 3% 5%;
    position: relative;
} 
.signup-container-1 > h1, .signup-container-2 > h1{
    font-size: 36px;
}
.signup-container-1 > p, .signup-container-2 > p{
    opacity: 0.5;
    margin-top: 3px;
    margin-bottom: 12px;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.signup-btn, .signup-otp{
    background-color:#303ab2;
    border:none;
    color:rgba(255,255,255);
    font-size: 16px;
    margin-top: 16px;
    padding: 20px 60px;
    border-radius: 3px;
    margin-right: 8%;
    float: right;
    cursor: pointer;
}
.input-group>input:focus{
    outline-color: #303ab2;
}
.input-group-text{
    border:1px solid gray;
    padding: 20px;
}
.form-control{
    padding: 13px 25%;
    width:41%;
}

/* signup form end */