*{
    font-family: proxima nova, sans-serif;
}


#Upper_nav{
    margin-top: -8px;
    margin-left: -8px;
    height:43px;
    width:101.1%;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

#Upper_nav>div{
    display: flex;
    justify-content: space-between;

}

#Upper_nav>div:first-child{
    margin-left: 9.2%;
    width:28%;
}

#Upper_nav>div:last-child{
    margin-right: 9.4%;
    align-items: center;
    width:19%;
    justify-content: space-between;
}

#Upper_nav>div:first-child h4{
    font-weight: 500;
    font-size: 14px;
}

#Upper_nav>div:last-child h6{
    margin:10px 0px;
    font-size: 11px;
    font-weight: 600;
}


#Upper_nav>div div{
    display: flex;
    align-items: center;
    color:white;

}


#Upper_nav>div div h4{
    margin-left: 10px;
}

#Mid_nav{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #f7f8f7;
}

#Mid_nav>div:first-child{
    margin-left: 8%;
}

#Mid_nav>div:first-child>img{
    height:37px;
    cursor: pointer;
}


.mid_li ul{
    display: inline-flex;
    list-style: none;
    padding:0px;
}

.mid_li ul li{
    padding:0px 15px;
    font-size: 14px;
    line-height: 50px;
    font-weight: 600;
}

.mid_li ul li a{
    text-decoration: none;
    color:black;
}

.Sub_menu_1{
    display: none;
}

.Sub_menu_2{
    display: none;
}

.Sub_menu_3{
    display: none;
}

.Sub_menu_4{
    display: none;
}

/* .mid_li ul li:hover .Sub_menu_1{
    display: block;
    position:absolute;
    margin-top: 10px;
    margin-left: -7.8%;
}

.mid_li ul li:hover .Sub_menu_2{
    display: block;
    position:absolute;
    margin-top: 10px;
    margin-left: -13.1%;
}

.mid_li ul li:hover .Sub_menu_3{
    display: block;
    position:absolute;
    margin-top: 10px;
    margin-left: -17.3%;
}

.mid_li ul li:hover .Sub_menu_4{
    display: block;
    position:absolute;
    margin-top: 10px;
    margin-left: -21.3%;
} */

.mid_li>ul>li>a:hover{
    color:#303ab2;
}


#Search_bar{
    height: 40px;
    width:29%;
    margin-left: 16px;
    background-color: #ecedeb ;
    display: flex;
    align-items: center;
}

#Upper_nav>div>div:hover{
    cursor: pointer;
}

#Sign-up{
    display: flex;
    width:17%;
    align-items: center;
    margin-left: 12.4%;
    font-size: 14px ;
    font-weight: 600;
    justify-content: space-evenly;
    box-sizing: border-box;
}

#Sign-up>div:hover{
    cursor: pointer;
}

#Sign-up>div:nth-child(1):hover{
    color:#303ab2;
}

#Sign-up>div:nth-child(2){
    height: 22px;
    width:1px;
    background-color:rgb(196, 184, 184);
}

#Search_img{
    padding:7px;
    font-size: 16px;
    color:#adabab;
}

#Search{
    border:none; 
    background-color:#ecedeb; 
    font-size:15px; 
    width:80%;
    margin-left: 10px;
}

#Search:focus{
    outline: none;  
}

#Offer_nav{
    width:101.05%;
    margin-left: -8px;
    text-align: center;
    margin-top: 58px;
    background-color: #303ab2;
    color:white;
    border: 1px solid #303ab2;
}

#Offer_nav>h4{
    margin: 10px auto;
}
















