*{
    font-family: proxima-nova,sans-serif;
    font-style: normal;
}

.sort{
    width:90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    
}
.total-product{
    font-weight: bolder;
    opacity: 0.5;
}
select{
    padding:20px 70px;
    font-size: 14px;
    border:1px solid rgb(200, 200, 200)
}
span{
    font-weight: bolder;
    opacity: 0.5;
}

#product_list{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:16px;
}

.price_box{
    display:flex;
    justify-content: space-between;  
}

.like{
    align-items: center;
    margin-top:-112% ;
    margin-right: 8%;
    margin-bottom: 122%;
    padding:3px 7px;
    border-radius: 50%;
    background-color: white;
}

.like img{
    margin-top: 4px;
    width:25px;
    border-radius: 50%;
}

#Basket{
    width:100%;
    opacity: 0;
    background-color: #303ab2;
    color:white;
    font-weight: 600;
    font-size: 14px;
    padding:5.5%;
    border: none;
    border-radius:3px;
}



