*{
    font-family: proxima-nova,sans-serif;
    font-style: normal;
    font-weight: 400;
}

#product_list{
    width:81%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:16px;
}

.price_box{
    display:flex;
    justify-content: space-between;  
}

.like{
    align-items: center;
    margin-top:-112% ;
    margin-right: 8%;
    margin-bottom: 122%;
    padding:3px 7px;
    border-radius: 50%;
    background-color: white;
}

.like img{
    margin-top: 4px;
    width:25px;
    border-radius: 50%;
}